/* GLOBAL */
html, body{
    font-family: 'Work Sans', sans-serif;
}

.heading{
    text-align: center;
    margin-bottom: 3rem;
}

.heading h2{
    font-size: 40px;
    color: #ff4f81;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.heading p{
    text-transform: capitalize;
    letter-spacing: 4px;
    color: black;
    font-size: 17px;
}

.heading p::after{
    content: '';
    width: 70px;
    height: 2px;
    background-color: black;
    display: block;
    margin: 20px auto;
}

.section{
    padding: 5rem 0;
}

/* HEADER  */
.header__top{
    background-color: #ff4f81;
    font-size: 14px;
}

.header__top a{
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}

.header__right a{
    width: 30px;
    height: 30px;
    display: inline-block; /*thẻ inline ko xét được kích thước nên dùng inline-block */
    background-color: black;
    border: 1px solid black;

    text-align: center;
    line-height: 30px; /* mẹo để căn icon theo chiều dọc */ 
    margin-left: 0.25rem;
}

.header__right a:hover{
    background-color: #ff4f81;
    border-color: white;
}

.header__left a:hover{
    color: black !important; /* đè code bootstrap */
}

.navInstruction a{
    color: black;
}

.navInstruction .navbar-brand p:first-child{
    font-size: 36px;
    font-weight: 700;
}

.navInstruction .navbar-brand p:first-child i{
    transform: skewX(-10deg);
}

.navInstruction .navbar-brand p:last-child{
    font-size: 11px;
    color: #ff4f81;
    letter-spacing: 3px;
    font-weight: bold;
}

/* .navInstruction{
    width: 75%;     /* kỹ thuật căn giữa nội dung ở giữa cách đều 2 bên
    margin: auto;   /* có thể dùng class container bên bootstrap
} */

#navbarInstruction .nav-item{
    margin: 0 15px;
}

#navbarInstruction .nav-item::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: #ff4f81;
    display: block;
    transition: all 0.5s;
}

#navbarInstruction .nav-item:hover::after{
    width: 100%;
}


#navbarInstruction .nav-link{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.5s;
}

#navbarInstruction .nav-item:hover .nav-link{
    color: #ff4f81;
}

#navbarInstruction .nav-item.active .nav-link{
    color: #ff4f81;
}

#navbarInstruction .nav-item.active::after{
    width: 100%;
}

#navbarInstruction .dropdown-menu{
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.6);
}

#navbarInstruction .dropdown-item{
    color: white;
    transition: all .5s;
}

#navbarInstruction .dropdown-item:focus, #navbarInstruction .dropdown-item:hover{
    background-color: transparent;
    color: #ff4f81;
}

/* CAROUSEL  */
#carouselEducation .carousel-caption{
    top: 55%;
    left: 50%;

    transform: translate(-50%,-50%); /* kỹ thuật canh giữa BS chỉ áp dụng khi có position:absolute*/
}

#carouselEducation .carousel-caption h1{
    font-size: 52px;
}

#carouselEducation .carousel-caption p{
    letter-spacing: 4px;
    line-height: 1.8rem;
    width: 70%;
    margin: 0 auto;
    font-weight: 300;
    margin-bottom: 25px;
}

#carouselEducation .carousel-caption button{
    padding: 11px 20px;
    border: 1px solid white;
    color: white;
    border-radius: 0;
    letter-spacing: 2px;
    font-size: 14px;
    transition: all 0.5s;
}

#carouselEducation .carousel-caption button:hover{
    background-color: #ff4f81;
    border-color: #ff4f81;
}

/* WELCOME  */
.welcome__content{
    width: 70%;
    margin: 0 auto;

    text-align: center;
    color: #999;
    letter-spacing: 1px;
    padding: 1rem 0 5rem;
    font-size: 15px;
    line-height: 1.8em; /* đơn vị em đi theo font size gần nhất */
    /* 1em = 15px */
}





