/* GLOBAL */
html, body{
    font-family: 'Work Sans', sans-serif;
}

.heading{
    text-align: center;
    margin-bottom: 3rem;
}

.heading h2{
    font-size: 40px;
    color: #ff4f81;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.heading p{
    text-transform: capitalize;
    letter-spacing: 4px;
    color: black;
    font-size: 17px;
}

.heading p::after{
    content: '';
    width: 70px;
    height: 2px;
    background-color: black;
    display: block;
    margin: 20px auto;
}

.heading--white p{
    color: white;
}

.section{
    padding: 5rem 0;
}

/* HEADER  */
.header__top{
    background-color: #ff4f81;
    font-size: 14px;
}

.header__top a{
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}

.header__right a{
    width: 30px;
    height: 30px;
    display: inline-block; /*thẻ inline ko xét được kích thước nên dùng inline-block */
    background-color: black;
    border: 1px solid black;

    text-align: center;
    line-height: 30px; /* mẹo để căn icon theo chiều dọc */ 
    margin-left: 0.25rem;
}

.header__right a:hover{
    background-color: #ff4f81;
    border-color: white;
}

.header__left a:hover{
    color: black !important; /* đè code bootstrap */
}

.navInstruction a{
    color: black;
}

.navInstruction .navbar-brand p:first-child{
    font-size: 36px;
    font-weight: 700;
}

.navInstruction .navbar-brand p:first-child i{
    transform: skewX(-10deg);
}

.navInstruction .navbar-brand p:last-child{
    font-size: 11px;
    color: #ff4f81;
    letter-spacing: 3px;
    font-weight: bold;
}

/* .navInstruction{
    width: 75%;     /* kỹ thuật căn giữa nội dung ở giữa cách đều 2 bên
    margin: auto;   /* có thể dùng class container bên bootstrap
} */

#navbarInstruction .nav-item{
    margin: 0 15px;
}

#navbarInstruction .nav-item::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: #ff4f81;
    display: block;
    transition: all 0.5s;
}

#navbarInstruction .nav-item:hover::after{
    width: 100%;
}


#navbarInstruction .nav-link{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.5s;
}

#navbarInstruction .nav-item:hover .nav-link{
    color: #ff4f81;
}

#navbarInstruction .nav-item.active .nav-link{
    color: #ff4f81;
}

#navbarInstruction .nav-item.active::after{
    width: 100%;
}

#navbarInstruction .dropdown-menu{
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.6);
}

#navbarInstruction .dropdown-item{
    color: white;
    transition: all .5s;
}

#navbarInstruction .dropdown-item:focus, #navbarInstruction .dropdown-item:hover{
    background-color: transparent;
    color: #ff4f81;
}

/* CAROUSEL  */
#carouselEducation .carousel-caption{
    top: 55%;
    left: 50%;

    transform: translate(-50%,-50%); /* kỹ thuật canh giữa BS chỉ áp dụng khi có position:absolute*/
}

#carouselEducation .carousel-caption h1{
    font-size: 52px;
}

#carouselEducation .carousel-caption p{
    letter-spacing: 4px;
    line-height: 1.8rem;
    width: 70%;
    margin: 0 auto;
    font-weight: 300;
    margin-bottom: 25px;
}

#carouselEducation .carousel-caption button{
    padding: 11px 20px;
    border: 1px solid white;
    color: white;
    border-radius: 0;
    letter-spacing: 2px;
    font-size: 14px;
    transition: all 0.5s;
}

#carouselEducation .carousel-caption button:hover{
    background-color: #ff4f81;
    border-color: #ff4f81;
}

/* WELCOME  */
.welcome__content>p{
    width: 70%;
    margin: 0 auto;

    text-align: center;
    color: #999;
    letter-spacing: 1px;
    padding: 1rem 0 5rem;
    font-size: 15px;
    line-height: 1.8em; /* đơn vị em đi theo font size gần nhất */
    /* 1em = 15px */
}

.welcome__item i{
    font-size: 2rem;
}

.welcome__item h3{
    color: #ff4f81;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 1rem 0;
}

.welcome__item h4{
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0 0.2rem;
}

.welcome__item p{
    color: #999;
    font-size: 15px;
    line-height: 1.8em;
    margin: 10px 0 0;
    letter-spacing: 1px;
}

.welcome__col{
    padding: 2em;
}

/* OUR STATS  */
.ourStats{
    background-image: url("../img/banner2.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.ourStats__content{
    text-align: center;
    color: white;
}

.ourStats__item i{
    font-size: 2.5rem;
}

.ourStats__item h3{
    font-size: 1.3rem;
    color: #ff4f81;
    letter-spacing: 3px;
    font-weight: bold;
    margin: 30px 0 20px;
}

.ourStats__item p{
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 300;
    margin: 30px 0 20px;
}

/* OFFER  */
.offer__col{
    padding: 15px;
}

.offer__item{
    padding: 25px 40px;
    box-shadow: 0px 1px 8px 0px rgba(158, 158, 158, 0.75);
    text-align: center;
    background-color: white;
    transition: all 0.5s;
}

.offer__item:hover{
    background-color: #12ccc3;
}

.offer__item i{
    color: #ff4f81;
    font-size: 40px;
}

.offer__item h3{
    font-size: 20px;
    color: black;
    margin: 25px 0;
}

.offer__item p{
    color: #6b6b6b;
    font-size: 14px;
    letter-spacing: 0.5px;
}

/* FEEDBACK  */
.feedback{
    background-image: url("../img/banner3.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.feedback__content{
    box-shadow: 0px 1px 7px #8e8e8e;
    background-color: rgba(0, 0, 0, 0.47);
    padding: 1rem;
}

.feedback__content .item{   
    color: white;
    padding: 1rem;
}

.feedback__top{
    padding: 1rem 1.5rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.47);
    position: relative;
}

.feedback__top::after{
    content: '';
    border-top: 9px solid rgba(0, 0, 0, 0.47);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;    
    position: absolute;
    top: 100%; 
    left: 32%;
}

.feedback__content .feedback__bottom img{
    width: 28%;
    display: inline-block;
}

.feedback__bottom{
    display: flex;
    justify-content: center;
    margin: 2rem auto 0;
    width: 55%;
}

.feedback__name{
    margin-left: 5px;
}

.feedback__name p{
    margin: 0;
    color: #ff4f81;
}

.feedback__name p:first-child{
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}

.feedback__content .owl-theme .owl-dots .owl-dot span{
    background-color: #ff4f81;
    opacity: 0.5;
}

.feedback__content .owl-theme .owl-dots .owl-dot.active span,.feedback__content .owl-theme .owl-dots .owl-dot:hover span {
    opacity: 1;
}

.feedback__content .owl-dots .owl-dot:focus{
    outline: none;
}

/* NEWS  */
.news__content img{
    border: 2px solid #dedede;
}

.news__content h3{
    font-size: 1.2rem;
    font-weight: bold;
}

.news__content a{
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    transition: all .5s;
}

.news__content a:hover{
    color: #ff4f81;
}

.news__content h4{
    font-size: 1rem;
    color: #ff4f81;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 1rem 0;
}

.news__content p{
    font-size: .9rem;
    color: #999999;
    margin-top: 1rem;
    line-height: 1.8rem;
}

.news__content .row:last-child{
    margin-top: 5rem;
}

/* MODAL  */
#newsModal .modal-title{
    font-size: 29px;
    color: #ff4f81;
    font-weight: bold;
}

#newsModal .modal-body p{
    font-size: 14px;
    color: #777;
    line-height: 1.8em;
    padding: 20px 0;
}

#newsModal .modal-dialog{
    max-width: 600px;
}

/* FOOTER  */
footer{
    background-color: #141415;
}

.footer__top h3{
    font-size: 24px;
    font-weight: bold;
    color: #ff4f81;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
}   

.footer__top p{
    font-size: 15px;
    color: #8b8b96;
    line-height: 2em;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.footer__link,.footer__contact{
    margin-bottom: 1rem;
}

.footer__link i{
    color: #ff4f81;
    margin-right: 1rem;
}

.footer__link a,.footer__contact a{
    text-decoration: none;
    color: #8b8b96;
    font-size: 15px;
    line-height: 1.5em;
    letter-spacing: 1px;
    transition: all .5s;
}

.footer__link a:hover,.footer__contact a:hover{
    color: white;
}

.footer__contact i{
    width: 32px;
    height: 32px;
    border: 1px solid #4b4b50;
    color: white;
    text-align: center;
    line-height: 32px;
    margin-right: 1rem;
    cursor: pointer;
}

.footer__form{
    margin-top: 3rem;
}

.form-group .labelMail{
    display: inline-block;
    padding: 0 12px;
    font-size: 24px;
    font-weight: bold;
    color: #ff4f81;
    letter-spacing: 1px;
}

.form-group .inputMail{
    width: 45%;
    display: inline-block;
    padding: 14px;
    border: none;
    border-radius: 0;
    color: #888;
    letter-spacing: 1px;
}

.form-group .submit__button{
    display: inline-block;
    margin-left: 1rem;
}

.form-group button{
    padding: 12px 35px;
    background-color: #ff4f81;
    letter-spacing: 1px;
    border-radius: 0;
    color: white;
    outline: none;
    transition: all .5s;
}

.form-group .submit__button button:hover{
    background-color: #ec1955;
    color: white;
}

.footer__bottom{
    color: #0f0f10;
    text-align: center;
    padding: 1rem 0;
    color: white;
}

.footer__bottom a{
    text-decoration: none;
    color: #ff4f81;
    transition: all .5s;
}

.footer__bottom a:hover{
    color: white;
}



